<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add Medicine</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Nims" ng-model="medicine.name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Times</span>
        <input type="text" placeholder="3" ng-model="medicine.times">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Start At</span>
        <input type="text" placeholder="6 AM" ng-model="medicine.start_at">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <textarea type="text" placeholder="Headache control" ng-model="medicine.description"></textarea>
      </label>

      <button class="button button-block button-positive activated" ng-click="addMed()">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="button button-block button-positive activated" ng-click="closeModal()">Cancel</button>

    </div>
  </ion-content>
</ion-modal-view>

