<ion-tabs class="tabs-balanced tabs-icon-top">

  <ion-tab title="Medicines" icon="icon ion-medkit" href="#/app/medicines">
    <ion-nav-view name="tabs-medicines" animation="slide-left-right"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Pictures" icon="icon ion-camera" href="#/app/pictures">
    <ion-nav-view name="tabs-pictures" animation="slide-left-right"></ion-nav-view>
  </ion-tab>

  <ion-tab title="About" icon="icon ion-information" href="#/app/about">
    <ion-nav-view name="tabs-about" animation="slide-left-right"></ion-nav-view>
  </ion-tab>

</ion-tabs>

